<app-fts-alert class="alert-overlay"></app-fts-alert>
<div class="modal-overlay">
    <div class="fts-modal">
        <div class="modal-header" [ngStyle]="{ 'background-color': colorBackgroundMap[selectedColor] }">
            <!-- <span>{{ data.isAdd ? 'Add' : 'Edit' }} Modal</span> -->
            <!-- <span class="close" (click)="closeModal($event)">&times;</span> -->
        </div>
        <div class="modal-content">
            <div *ngIf="data.isAdd" class="input-section">
                <input type="text" class="borderless-input tname" placeholder="Task name" [(ngModel)]="taskName">
                <div class="scrollable-container">
                    <textarea class="custom-scrollbar" placeholder="Type description here..."
                        [(ngModel)]="taskDescription"></textarea>
                </div>
            </div>
            <div *ngIf="!data.isAdd" class="display-section">
                <input type="text" class="borderless-input tname" placeholder="Task name" [(ngModel)]="taskName">
                <div class="scrollable-container">
                    <textarea class="custom-scrollbar" placeholder="Description"
                        [(ngModel)]="taskDescription"></textarea>
                </div>
            </div>

            <div class="fts-flex-container">

                <!-- Color Dropdown -->
                <div class="fts-dropdown">
                    <label for="colorPicker"> Color</label>
                    <button class="fts-dropdown-button color-dropdown-btn" (click)="toggleDropdown()"
                        title="Assign a color" id="colorPicker">
                        <i class="fas fa-circle color-dropdown-btn"
                            [style.color]="colorBackgroundMap[selectedColor]"></i>
                        {{ selectedColor ? selectedColor.charAt(0).toUpperCase() + selectedColor.slice(1) : 'Select
                        Color'
                        }}
                        <i class="fa fa-caret-down color-dropdown-btn"></i>
                    </button>
                    <ul class="fts-dropdown-menu" [class.show]="isDropdownOpen">
                        <li class="fts-dropdown-item" (click)="selectColor('purple')"
                            [class.selected]="selectedColor === 'purple'">
                            <i class="fas fa-circle color-purple"></i> Purple
                        </li>
                        <li class="fts-dropdown-item" (click)="selectColor('yellow')"
                            [class.selected]="selectedColor === 'yellow'">
                            <i class="fas fa-circle color-yellow"></i> Yellow
                        </li>
                        <li class="fts-dropdown-item" (click)="selectColor('pink')"
                            [class.selected]="selectedColor === 'pink'">
                            <i class="fas fa-circle color-pink"></i> Pink
                        </li>
                    </ul>
                </div>

                <!-- Priority Dropdown -->
                <div class="fts-dropdown">
                    <label for="priorityPicker">Priority</label>
                    <button class="fts-dropdown-button priority-dropdown-btn" (click)="togglePriorityDropdown()"
                        title="Priority of task" id="priorityPicker">
                        <i class="fas fa-flag priority-dropdown-btn"
                            [style.color]="priorityColorMap[selectedPriority]"></i>
                        {{ selectedPriority ? 'Priority ' + selectedPriority : 'Select Priority' }} <i
                            class="fa fa-caret-down priority-dropdown-btn"></i>
                    </button>
                    <ul class="fts-dropdown-menu" [class.show]="isPriorityDropdownOpen">
                        <li class="fts-dropdown-item" (click)="selectPriority(1)"
                            [class.selected]="selectedPriority === 1">
                            <i class="fas fa-flag color-green"></i> Priority 1
                        </li>
                        <li class="fts-dropdown-item" (click)="selectPriority(2)"
                            [class.selected]="selectedPriority === 2">
                            <i class="fas fa-flag color-yellow"></i> Priority 2
                        </li>
                        <li class="fts-dropdown-item" (click)="selectPriority(3)"
                            [class.selected]="selectedPriority === 3">
                            <i class="fas fa-flag color-red"></i> Priority 3
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="datePicker">Due date</label>
                    <input type="date" class="form-control" id="datePicker" [(ngModel)]="selectedDate">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="close-button modal-button" (click)="closeModal($event)" title="Close">Cancel</button>
            <button class="save-button modal-button" (click)="save()" title="Save task">Save</button>
        </div>
    </div>
</div>