<div class="sidebar" [class.collapsed]="sidebarCollapsed">
    <a routerLink="/dashboard" title="Todo-list"><i class="fas fa-tasks"></i><span class="link-text">Dashboard</span></a>
    <a routerLink="/completed-tasks" title="Completed tasks"><i class="fas fa-check"></i><span class="link-text">Completed tasks</span></a>
    <!-- <a href="#"><i class="fas fa-clock-rotate-left"></i><span class="link-text">Completed tasks</span></a> -->
    <!-- <a href="#"><i class="fas fa-address-book"></i><span class="link-text">History</span></a>
    <a href="#"><i class="fas fa-address-book"></i><span class="link-text">Contact</span></a> -->
    <!-- Uncomment this to turn on and off toggle -->
    <!-- <div class="sidebar-toggle" (click)="toggleSidebar()">
        <i class="toggle-icon fas" [class.fa-arrow-right]="sidebarCollapsed"
            [class.fa-arrow-left]="!sidebarCollapsed"></i>
    </div> -->
</div>
<div class="main-content">
    <!-- <h3 class="dashboard-heading">todo-lis</h3> -->
    <router-outlet></router-outlet>
    <!-- <app-task-board></app-task-board> -->
    <!-- Your content here -->
</div>