<div class="row d-flex justify-content-center container">
    <div class="col-md-6">
        <div class="card-hover-shadow-2x card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    Tasks
                </div>
            </div>
            <div class="scrollable-container">
                <div class="custom-scrollbar">
                    <ul class=" list-group list-group-flush">
                        <ng-container *ngFor="let task of tasks; let i = index">
                            <li draggable="true" [ngClass]="{
                            'drag-over': i === draggedOverIndex,
                            'dragging': i === draggedIndex
                          }" [draggable]="true" (dragstart)="handleDragStart(i,$event,dragItem)"
                                (dragover)="handleDragOver(i,$event,dragItem)" (dragend)="handleDragEnd()" #dragItem
                                class="list-group-item" [style.backgroundColor]="getColorBackground(task.color)"
                                *ngIf="!task.isComplete">
                                <!-- <div [ngClass]="task.color + ' todo-indicator'"></div> -->
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input class="custom-control-input" [id]="'customCheckbox-' + task.id"
                                                    type="checkbox" (change)="completeTask(task)"
                                                    [style.border-color]="getBorderColor(task.priority)" />
                                                <label class="custom-control-label"
                                                    [for]="'customCheckbox-' + task.id">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="widget-content-left task-name-desc">
                                            <div class="widget-heading">{{ task.name | truncateWords:30 }}
                                                <!-- <div class="badge badge-danger ml-2">{{ task.status }}</div> -->
                                            </div>
                                            <div class="widget-subheading"><i> {{ task.description| truncateWords:30
                                                    }}</i></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <button class="border-0 btn-transition btn btn-outline-success"
                                                (click)="editTask(task)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="border-0 btn-transition btn btn-outline-danger"
                                                (click)="deleteTask(task)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="d-block text-right card-footer">
                <a href="#" class="add-task-link" (click)="addTask()">
                    <i class="fa fa-plus"></i><span class="link-text">Add task</span>
                </a>
            </div>
        </div>
    </div>
</div>