<app-fts-alert class="alert-overlay"></app-fts-alert>
<div class="row d-flex justify-content-center container">
    <div class="col-md-6">
        <div class="card-hover-shadow-2x card">
            <div class="card-header-tab card-header custom-position">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    Tasks
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button"
                        id="sortDropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        title="Sorting">
                        <i class="fa-solid fa-sort"></i></button>
                    <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                        <a class="dropdown-item" (click)="selectPriority(1)">High priority first</a>
                        <a class="dropdown-item" (click)="selectPriority(2)">Low priority first</a>
                    </div>
                </div>
            </div>
            <div class="scrollable-container">
                <div *ngIf="!noTaskAdded; else noTask" class="custom-scrollbar">
                    <ul class=" list-group list-group-flush">
                        <ng-container *ngFor="let task of tasks; let i = index">
                            <li draggable="true" [ngClass]="{
                            'drag-over': i === draggedOverIndex,
                            'dragging': i === draggedIndex
                          }" [draggable]="true" (dragstart)="handleDragStart(i,$event,dragItem)"
                                (dragover)="handleDragOver(i,$event,dragItem)" (dragend)="handleDragEnd()" #dragItem
                                class="list-group-item" [style.backgroundColor]="getColorBackground(task.color)"
                                *ngIf="!task.isComplete">
                                <!-- <div [ngClass]="task.color + ' todo-indicator'"></div> -->
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input class="custom-control-input" [id]="'customCheckbox-' + task.id"
                                                    type="checkbox" (change)="completeTask(task)"
                                                    [style.border-color]="getBorderColor(task.priority)" />
                                                <label class="custom-control-label"
                                                    [for]="'customCheckbox-' + task.id">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="widget-content-left task-name-desc">
                                            <div class="widget-heading">{{ task.name | truncateWords:20 }}
                                            </div>
                                            <div class="widget-subheading"><i> {{ task.description| truncateWords:20
                                                    }}</i></div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="task-pills badge" [style.color]="getPillColors(task,false)"
                                                [style.backgroundColor]="getPillColors(task,true)">{{ task.duedate
                                                }}</div> <button
                                                class="border-0 btn-transition btn fts-btn-outline-success"
                                                (click)="editTask(task)" title="Edit task">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <!-- <button class="border-0 btn-transition btn fts-btn-outline-danger"
                                                (click)="deleteTask(task)">
                                                <i class="fa fa-trash"></i>
                                            </button> -->
                                            <button class="btn btn-secondary dropdown-toggle custom-dropdown-button"
                                                type="button" id="sortDropdownMenu" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false" title="Options">
                                                <i class="fa-solid fa-ellipsis-vertical"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                                                <a class="dropdown-item" (click)="deleteTask(task)"
                                                    title="Delete task">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <ng-template #noTask>
                    <div class="notask-container">
                        <div *ngIf="noTaskAdded" class="image-container">
                            <img src="/assets/images/addtask.png" alt="No tasks added image" />
                        </div>
                        <div class="text-container">
                            <p class="desc-text">Work-life balance made easy with <span
                                    [style.color]="'#E97777'">Todolis</span></p>
                            <p class="add-text">Click <span [style.color]="'#756AB6'"> + Add task</span> button
                                to
                                create
                                your first task</p>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="d-block text-right card-footer">
                <span class="add-task-link" (click)="addTask()" title="Add a new task">
                    <i class="fa fa-plus"></i><span class="link-text"> Add task</span>
                </span>
            </div>
        </div>
    </div>
</div>